body {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  background-color: #282c34;
  color: #61dafb;
  min-height: 100vh;
  text-align: center;
  font-size: calc(10px + 1vmin);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#logo {
  animation: logo-spin infinite 20s linear;
  max-height: 5vh;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*:focus {
    outline: none;
}

#app-component,
#counter-component,
#home-component,
#nav-component,
#router-div {
    margin: 0vw 10vw auto 10vw;
    padding: 0vw 2vw 1vw 2vw;
}

#app-component,
#counter-component,
#home-component,
#page404-component,
#router-div,
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nav-component {
    display: flex;
    justify-content: center;
    align-items: space-around;
}

#app-component header,
button,
a,
.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#counter-component,
#home-component,
#nav-component,
#router-div {
    border: 0.05vw #61dafb dotted;
    border-radius: 3vw;
}

a {
    text-decoration: none;
    width: 100%;
}

#nav-component header,
#nav-component {
    width: 100%;
    height: 100%;
    max-height: 10vh;
    margin-bottom: 1vh;
}

button {
    background: none;
    color: #61dafb;
    padding: 1vw 3vw;
    margin: 1vw;
    border: 0.05vw #61dafb solid;
    border-radius: 1vw;
}

button:hover {
    background-color: #61dafb;
    color: #282c34;
}

#nav-component button {
    height: 9vh;
    font-size: calc(10px + 2vmin);
}

#nav-component button:hover {
    background-color: #282c34;
    color: white;
    border: 0.05vw white solid;
}

#home-component {
    background-color: white;
    color: #282c34;
    width: 100%;
    margin: 0;
}

#redux-logo {
    width: 22%;
    padding: 0 2vw;
}
#router-logo {
    width: 60%;
    padding: 0 2vw;
}
#router-logo img,
#redux-logo img {
    width: 100%;
}

#page404-component {
    width: 100vw;
    height: 100vh;
}
#restAPI-component {
    width: 90vw;
    margin: 0vw 5vw auto 5vw;
    padding: 0vw 1vw 1vw 1vw;
}

#page404-component {
    background-color: #000000;
    margin: 0;
    padding: 0;
}
#funky-chicken {
    width: 30%
}
#funky-chicken img{
    width: 100%
}

#data-list {
    column-count: 2;
    margin: 0;
    padding: 0;
}

#data-list li {
    list-style: none;
    text-align: left;
}
